body {
    margin: 0;
    padding: 0;
    cursor: default;
    overflow-y: hidden;
}

#container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
}

#canvas {
    /*position: static;*/
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#statistics {
    padding: 1vw;
    position: absolute;
    width: 98vw;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.1);
}

#inputField {
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 45vh;
}


#loader-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#loader {
    margin: auto;
    border-bottom: 10px solid #111111;
    border-top: 10px solid #111111;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50%;
    /*background-color:  #f3f3f3;*/
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}