body {
    margin: 0;
    padding: 0;
    cursor: default;
    overflow-y: hidden;
}

#main-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    padding: 20vw;
    height: 95vh;
    margin: auto;
    background-color: rgba(240,240,240,1);
}

#progressBar {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 0;
    transition: 0.2s all;
}

.progress-bar {
    transition: .8s all ease-in-out;
}


#logo::before {
    content: '@';
}

.navbar {
    z-index: 50;
    background-color: rgba(52,54,66,1) !important;
}

.navbar-brand {
    color: rgba(255,255,255,0.75) !important;
}

.btn-secondary {
    background-color: rgba(52,54,66,1) !important;
    color: rgba(255,255,255,0.75) !important;
}

.btn-secondary:hover {
    background-color: rgba(82,84,96,1) !important;
}


#version {
    color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1em 0 0;
    z-index: 60;
}

.alertMessages {
    position: relative;
}

#errorMessage, #successMessage {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
}

.progress {
    background-color: rgba(82,84,96,.3) !important;
}