body {
    margin: 0;
    padding: 0;
    cursor: default;
    overflow-y: hidden;
}

#container {
    display: none;
}

#main-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    padding: 20vw;
    height: 100vh;
    margin: auto;
    background: -webkit-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: -o-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: -moz-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
}

#canvas {
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* 100vw minus sidebar*/
    width: 85vw;
    height: 100vh;
    background: -webkit-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: -o-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: -moz-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0, 0.3));
}


#progressBar {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 0;
    transition: 0.2s all;
}

.progress-bar {
    transition: 0.2s all;
}

#name {
    min-height: 11vh;
}

#version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alertMessages {
    position: relative;
}

#errorMessage, #successMessage {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
}