#sidebar {
    width: 15vw;
    height: 100vh;
    float: right;
    background-color: #231F1F;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar li {
    /*font-size: 14px;*/
    color: rgba(255,255,255,0.8);
    white-space: initial;
    word-wrap: break-word;
    padding: 1vw;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    color: rgba(255,255,255,0.8);

}