#sidebar {
    width: 15vw;
    height: 100vh;
    float: right;
    background-color: #231F1F;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vw;
}

#sidebar li {
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    white-space: initial;
    word-wrap: break-word;
}

#version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    color: rgba(255,255,255,0.9);

}