#sidebar {
    width: 15vw;
    height: 100vh;
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
}

.statistic {
    padding-bottom: 2vh;
    min-height: 8em;
}

.statistic-name {
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.statistic-name::before {
}


.statistic-value {
    font-size: 20pt;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}