#container {
    display: none;
    width: 100vw;
    height: 95vh;
    background-color: rgba(240, 240, 240, 1);
}

#canvas {
    padding: 0;
    position: absolute;
    overflow:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#name {
    font-size: 2vh;
    font-weight: lighter;
    min-height: 10vh;
    word-break: break-all;
}

/* SIDEBAR */
#sidebar {
    width: 15vw;
    min-width: 100px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: rgba(240, 240, 240, 1);
    outline: 10px solid rgba(255, 255, 255, 0.5);
    z-index: 10;
    color: rgba(0, 0, 0, 0.8);
    margin: 12vh 7vh 7vh 0;
    float: right;
    padding: 5vh 1vh 1vh 1vh;
}

#navbar-visualization-items {
    display: none;
}

#search-list {
    position: absolute;
    z-index: 100;
    display: none;
    overflow-y: scroll;
    scrollbar-base-color: black;
    scrollbar-arrow-color: grey;
    max-height: 25vh;
}

#search-list:hover {
    display: block;
}

#commits-list {
    right: 0;
}

#commits-list-first #commits-list-last {
    left: 0;
}

.dropdown-items {
    overflow-y: scroll;
    position: absolute;
    z-index: 100;
    scrollbar-base-color: black;
    scrollbar-arrow-color: grey;
    max-height: 25vh;
    top: 2.5em;
    display: none;
    max-width: inherit;
}

.dropdown-items * {
    max-width: 30vw;
}

.list-group-item * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statistic {
    padding-bottom: 4vh;
    min-height: 10vh;
}

.statistic-name {
    font-size: 2vh;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.statistic-value {
    font-size: 2vh;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}

#info-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: rgba(52, 54, 66, 1);
    transition: all 0.1s;
}

#info-button:hover {
    color: rgba(102, 104, 116, 1);
}

#info-content, #record-card, #options-card {
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 20vh 20vw 20vh 20vw;
}

.content-dismiss {
    padding-right: .8em !important;
}


#record-card-button, #options-card-button {
    color: rgba(220, 220, 220, 1);
    transition: all 0.1s;
    line-height: 3.5vh;
    margin-right: 1em;
}

#record-card-button:hover, #info-button:hover, #options-card-button:hover {
    cursor: hand;
}

#record-button, #reload-button {
    margin-bottom: 1em;
}

#record-before {
    display: none;
}