#container {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240,240,240,1);
}

#canvas {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#name {
    font-weight: lighter;
    min-height: 10vh;
    word-break: break-all;
}

/* SIDEBAR */
#sidebar {
    width: 15vw;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(240,240,240,1);
    outline: 10px solid rgba(255,255,255, 0.5);
    z-index: 10;
     color: rgba(0,0,0,0.8);
    margin: 2vh 10vh 10vh 2vh;
    padding: 5vh 1vh 1vh 1vh;
}

#versions {
    display: none;
}

.dropdownItems {
    overflow-y: scroll;
    scrollbar-base-color: black;
    scrollbar-arrow-color: grey;
    max-height: 25vh;
}


.statistic {
    padding-bottom: 2vh;
    min-height: 8em;
}

.statistic-name {
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.statistic-name::before {
}


.statistic-value {
    font-size: 20pt;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}