@import java.util
@(title: String, version: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/visualization.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

        @* Logo *@
        <p id="logo">logo</p>
        @* Version *@
        <p id="version">@version</p>


        <div id="main-content">

            @* Input and submit button *@
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" id="inputField" class="form-control" size="35" name="repo" placeholder="Paste repository">
                    <span class="input-group-btn">
                        <button id="submitButton" class="btn btn-secondary" type="button">Submit</button>
                    </span>
                </div>

                @* Progress bar *@
                <div id="progressBar" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="10" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

                @* Alert messages *@
                <div class="alertMessages">
                    <div id="successMessage" class="alert alert-info fade show" role="alert">
                        <strong>Success!</strong> Download starting
                    </div>
                    <div id="errorMessage" class="alert alert-danger fade show" role="alert">
                        <strong>Error!</strong> Unable to download
                    </div>
                </div>
            </div>
            @* Content *@
            @content
        </div>

        @* Visualization *@
        <div id="container">

            @* Canvas *@
            <div id="canvas"></div>

            @* Hovered element name *@
            <p id="name"></p>

            @* Sidebar *@
            <div id="sidebar">

                @* Versions dropdown *@
                <div id="versions" class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Versions
                    </button>

                    <div id="dropdownList" class="dropdownItems dropdown-menu dropdown-menu-right">

                    </div>
                </div>

                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <div id="statistic1" class="statistic">
                                <p class="statistic-name">methods</p>
                                <p class="statistic-value">0</p>
                            </div>
                        </li>
                        <li>
                            <div id="statistic2" class="statistic">
                                <p class="statistic-name">attributes</p>
                                <p class="statistic-value">0</p>
                            </div>
                        </li>
                        <li>
                            <div id="statistic3" class="statistic">
                                <p class="statistic-name">lines of code</p>
                                <p class="statistic-value">0</p>
                            </div>
                        </li>
                        <li>
                            <div class="statistic">
                                <p class="statistic-name">total classes</p>
                                <p id="classes" class="statistic-value">0</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/tether.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/three.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/OrbitControls.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/interface.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/draw.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/events.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
