@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <div id="loader-container">
            <div id="loader"></div>
        </div>

        <div id="container">

            <div id="statistics">
                <p id="name">None</p>
                <p id="content1">0</p>
                <p id="content2">0</p>
            </div>

            <p id="version">alpha</p>

            <div id="canvas"></div>
        </div>
        @content

        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/three.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/OrbitControls.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/draw.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
